<app-header></app-header>

<main class="main">
    <div>{{ 'app.hello' | translate:{ value } }}</div>
    <h3> {{ 'app.title' | translate }} </h3>
    <hr>
    <h2> {{ 'about.title' | translate }} </h2>
    <h4> {{ 'about.header' | translate }} </h4>
    <p> {{ 'about.P1' | translate}} </p>
    <p> {{ 'about.P2'| translate     }} </p>
</main>

<hr />
<h1> {{'welcome' | translate }}</h1>
@for(language of languages; track language) {
<p-button label="{{ language.name | translate }}" [link]="true" (click)="changeLang(language.code)"></p-button>

}

<router-outlet />